################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Seeds_MVC/.vs/Seeds_MVC/FileContentIndex
