@{
    ViewBag.Title = "VegetableSeeds";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Style {
     .s{
        display:block;
     }
}

<p class="par">Vegetable Seeds</p>
<p class="par"></p>
<ol>
    <li>Tomatoes</li>
    <li>Cucumbers</li>
    <li>Peas</li>
    <li>Beans</li>
</ol>