@{
    ViewBag.Title = "BlightResistant";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Style {
    .p {
    display: block;
    }
}


<p class="par">Blight Resistant Potatoes</p>
<p class="par"></p>
<ol>
    <li>Orla</li>
    <li>Setanta</li>
    <li>Sarpo Mira</li>
</ol>






