
@{
    ViewBag.Title = "MainCrop";
    Layout = "~/Views/Shared/Layout.cshtml";
}


@section Style {
    .p {
    display: block;
    }
}

<p class="par">Main Crop Potato Seeds</p>
<p class="par"></p>
<ol>
    <li>Cara</li>
    <li>Records</li>
    <li>Rooster</li>
    <li>Pink fir apple</li>
</ol>