@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>Seeds for sale</title>
    <meta charset="utf-8" />
    <link href="~/css/site.css" type="text/css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/site.js" type="text/javascript"></script>

</head>
<body>
    <header>
        <h1>Best Seeds Ltd.</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/Home/Home">Home</a></li>
            <li class="label" id="pot">Potatoes</li>
            <li class="p">@Html.ActionLink("Blight Resistant","BlightResistant","Potato")</li>
            <li class="p">@Html.ActionLink("Main Crop","MainCrop","Potato")</li>
            <li class="label" id="seed">Seeds</li>
            <li class="s">@Html.ActionLink("Flower Seeds","FlowerSeeds","Seeds")</li>
            <li class="s">@Html.ActionLink("Vegetable Seeds","VegetableSeeds","Seeds")</li>
        </ul>       
    </nav>

    <section>
        <p class="par">Our business sells lots of seeds for your garden.</p>
        <p class="par">We sell potato seeds and flower seeds and vegetable seeds.</p>
    </section>
</body>
</html>