@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Html.ActionLink("Test 1","Index","Test")</p>
    <p>@Html.ActionLink("Test 2","DisplayList","Test")</p>
    <p></p>
    <p><a href="/Test/Index">TEST</a></p>
    <p><a href="/Test/DisplayList">TEST LIST</a></p>
</div>
