@model Seeds_MVC.Models.SeedsModel

@{
    ViewBag.Title = "TestIndex";
    Layout = "~/Views/Shared/Layout.cshtml";
 }

 <h2>Big dirty model example</h2>

 <dl>
     <dt>

     </dt>

     <dd>

     </dd>
 </dl>